


/* -----------------------------(max-width: 320px)------------------------------------------ */
@media (max-width: 320px) { 
     .navbar-brand {
        font-size: 20px !important;
    }

    .hero-text-title {
        line-height: 30px !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .section2_wework, .section2_ambitious, .section2_about_text, .section2_ourteam_text {
        height: auto !important;
        font-size: 20px !important;
        line-height: 25px !important;

    }

    .section2_furniture , .section2_furniture2{
        height: auto !important;
        font-size: 14px !important;
        line-height: 20px !important;
    }
    
    #right_img2 {
        margin-left: 18px;
        margin-top: 16px;
    }
    #left-behind {
        margin-top: 15px;
    }

    #left-in-font {
    margin-left: 19px;
    }
    .section2_top_right  {
        margin-top: 20px;
        margin-left: 0px;
    }

    .row2 {
        margin-top: 0px !important;
    }

    .section3-column .column-title {
        margin-top: 0px !important;
        font-size: 14px !important;
        line-height: 20px !important;
    }

    .column-icon   {
        margin-top: 0px !important;

    }

    .section2_top_left {
        height: auto !important;
    }
    .section3-contents {
    margin-top: 0px !important;    
    }

    .container-section3 {
        padding-top: 40px !important;
    }

    .section3-column {
        height: auto !important;
    }

    .section3-column .column-content {
        height: auto !important;
        margin-top: 0px !important;
        font-size: 12px !important;
        line-height: 20px !important;
    }

    .readMore {
        font-size: 12px !important;

    }

    .column1 a {
        font-size: 20px !important;
    }

    .column2 a, .column3 a, .column4 .address, .column5 a {        
        font-size: 12px !important;
    }

    
    .section4-title , .section5-title{
        font-size: 20px !important;
    }

    .slide-img-2-title {
        font-size: 14px !important;
    }

    .slide-img-2-content {
        font-size: 12px !important;
     }

   .content-details h3 {
       font-size: 20px !important;
   }

   .content-overlay {
       width: 100% !important;
   }
}



/* -----------------------------(max-width: 480px)------------------------------------------ */
 @media (max-width: 480px) { 

  
    
    .hero-text-title {
         font-size: 30px !important;
    } 

     .subtext-header {
        font-size: 20px;
        line-height: 32px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .section2_top_left, .section2_furniture {
        height: auto !important;
    }

    .section3-column .column-title {
        font-size: 22px;
    }

    .section3-column .column-content {
        font-size: 18px;
    }

    .container-section3-contents {
        padding-left: 25px;
        padding-right: 25px;
    }

    .section3-title {
        font-size: 30px;
        height: auto;
    }

    .section3-column {
        width: 100%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .section2_top_right  {
        margin-top: 20px;
    }

    #right-behind {
        margin-left: 18px;
        margin-top: 16px;
    }
    #left-behind {
        margin-top: 15px;
    }

    #left-in-font {
    margin-left: 19px;
    }
   
    .column2 a, .column3 a, .column4 .address, .column5 a {
        font-size: 15px ;
    }

    .section4-title , .section5-title{
        font-size: 30px;
    }

    .slide-img-2-title {
        font-size: 15px;
    }

    .slide-img-2-content {
        font-size: 18px;
    }

   .content-details h3 {
       font-size: 25px;
   }

   .section4-contents .swiper-container .swiper-wrapper {
    margin-left: 20px;

}

.section4-contents .swiper-container .swiper-slide{
    width: 80% !important;
    margin-right: 80px !important;
}

.container-section4 .container4, .container-section5 .container5 {
    width: 100%;
}
}

/* Extra small devices (portrait phones, less than 576px) */
/* -----------------------------(max-width: 575.98px)------------------------------------------ */
 @media (max-width: 575.98px) { 
     .hero-text-title {
        height: auto !important;
        font-size: 40px;
        line-height: 45px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .container_section2_contents  {
        padding-left: 15px;
        padding-right: 15px;
    } 

    .container_section2_contents .row {
        justify-content: center;
    }

    .section2_top_right  {
        width: 100%;
    }

    .section2_top_right  #right-in-font ,.section2_top_right #right-behind{
        width: 80%;
    }

    .section2_bottom_left {
        width: 100%;
        position: relative;
        top: 350px;
    }

    .section2_bottom_left   #left-in-font, .section2_bottom_left #left-behind {
        width: 90%;
    }

    .section2_botom_right {
        width: 100%;
        position: relative;
        bottom: 500px;
    }

    .container-section3-contents {
        height: auto; 
    }

    .section3-column {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_contents {
        width: 100%;
        height: auto;
    }

    .column1, .column2, .column3, .column4, .column5 {
        margin-right: 50px;
    }

    .navbar-nav  {
        background-color:darkgray;
    }

    .section4-contents .swiper-container .swiper-wrapper {
        margin-left: -85px;
    }
    
    .section4-contents,.section5-contents {
        width: 90% !important;
    }

    .section4-contents .swiper-container .swiper-slide{
        width: 100% !important;
        margin-right: 40px !important;
    }

    .section5-contents .swiper-container .swiper-slide{
        width: 100% !important;
        margin-right: 20px !important;
    }

    .slide-img , .slide-img img{
        width: 80% !important;
    }

    .slide-img-2,  .slide-img-2 img {
        width: 80% !important;
    }

 }
/* -----------------------(min-width: 576px) and (max-width: 767.98px)-------------------------------------- */
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  
    .hero-text-title  {
        font-size: 50px;
        line-height: 60px;
        padding-left: 15px; 
         padding-right:15px;
    }

    .container_section2_contents  {
        padding-left: 15px;
        padding-right: 15px;
    } 

    .container_section2_contents .row {
        justify-content: center;
    }

    .section2_bottom_left {
        width: 100%;
        position: relative;
        top: 350px;
    }

    .section2_botom_right {
        position: relative;
        bottom: 500px;
    }

    .section2_top_right  {
        width: 100%;
    }

    .section2_bottom_left   #left-in-font, .section2_bottom_left #left-behind {
        width: 90%;
    }

    .section2_top_right  #right-in-font ,.section2_top_right #right-behind{
        width: 80%;
    }

    .container-section3-contents {
        height: auto;
    }

    .section3-column {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_contents {
        height: auto;
    }

    .column1, .column2, .column3, .column4, .column5 {
        margin-right: 50px;
    }

    .navbar-nav  {
        background-color:darkgray;
    }

    .container-section4 .container4, .container-section5 .container5 {
        width: 100%;
    }

   

.section4-contents .swiper-container .swiper-wrapper {
    margin-left: -90px;

}

 
.slide-img , .slide-img img{
    width: 100% !important;

}

.slide-img-2,  .slide-img-2 img {
    width: 100% !important;

}

.section5-contents .swiper-container .swiper-slide{
    width: 100% !important;
    margin-right: 40px !important;
}
.section4-contents .swiper-container .swiper-slide{
    width: 100% !important;
    margin-right: 80px !important;
}
}


/* ------------------------------(min-width: 768px) and (max-width: 991.98px)-------------------------------------- */
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .hero-text-title {
        max-width: none;
        padding: 0 15px;
        font-size: 60px;
        line-height: 70px;
    }

    .container_section2_contents {
        max-width: none;
        max-height: none;
        padding: 0 15px;
    }

    .container_section2_contents .row {
        justify-content: center;
    }

    .container-section3-contents {
        max-width: none;
        max-height: none;
        padding: 0 15px;
    }

    .column-3 {
        margin-top: 20px;
    }

    .footer_contents {
        max-width: none;
        max-height: none;
        margin: 0 15px;
    } 

    .column1, .column2, .column3, .column4, .column5 {
        margin-right: 50px;
    }

    .navbar-nav  {
        background-color:darkgray;
    }

    .section5-contents .swiper-container .swiper-slide{
        width: 100% !important;
        margin-right: 40px !important;
    }
    .section4-contents .swiper-container .swiper-slide{
        width: 100% !important;
        margin-right: 80px !important;
    } 
    .container-section4 .container4 , .container-section5 .container5{
        max-width: none;
        max-width: none;
        padding: 0 15px;
        overflow: hidden;
    }

    .section4-contents .swiper-container .swiper-wrapper {
        margin-left: -255px !important;
    }

    .section5-contents .swiper-container .swiper-wrapper {
        margin-left: -260px !important;
    }

    .container-section4 .container4 .section4-contents,  .container-section5 .container5 .section5-contents {
        overflow: hidden;
    }

    .section2_bottom_left {
        position: relative;
        bottom: -350px;
    }

    .section2_botom_right {
        position: relative;
        bottom:500px;
    }

 }


/* ----------------------------(min-width: 992px) and (max-width: 1199.98px)-------------------------------------- */
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .container .navbar {
        width: 100%;
    }

     .container_section2_contents  {
        padding-left: 15px;
        padding-right: 15px;
    } 

    .container_section2_contents .row {
        justify-content: center;
    }

    .section2_bottom_left {
        position: relative;
        top: 350px;
    }

    .section2_botom_right {
        position: relative;
        bottom: 500px;
    }

    .container-section3-contents {
        height: auto;
    }
    
    .section3-column {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .section3-title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-section4 {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
 }

/* ------------------------------------------(min-width: 1200px)------------------------------------------------- */
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 
 }