


/* -----------------------------(max-width: 320px)------------------------------------------ */
@media (max-width: 320px) { 
   
   .section2_ambitious, .section2_wework, .section3-title, .section4-title, .section5-title {
    font-size: 16px !important;
    height: auto;
    line-height: 26px;
}

.navbar-nav  {
    background-color:darkgray;
}

.section5-contents .swiper-container .swiper-slide{
    width: 100% !important;
    margin-right: 40px !important;
}
.section4-contents .swiper-container .swiper-slide{
    width: 100% !important;
    margin-right: 80px !important;
} 

.content-details h3 {
    font-size: 20px !important;
}

.content-overlay , .slide-img-2 {
    width: 100% !important;
}
 
.container-section4 .container4 , .container-section5 .container5{
    max-width: none;
    max-width: none;
    padding: 0 15px;
    overflow: hidden;
}
.swiper-slide-active .slide-img-2 {
    width: 100% !important;

}
}



/* -----------------------------(max-width: 480px)------------------------------------------ */
 @media (max-width: 480px) { 

   

.hero-text {
    max-width: none !important;
    
}

.hero-text-title {
    font-size: 28px !important;
    line-height: 35px !important;
    max-height: none !important; 
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.subtext-header {
    margin-bottom: 0;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 18px;
    line-height: 30px;
 }
.subtext-header, .section3-column .column-title , .slide-img-2-content, #totalSlides, #totalSlides2 {
    font-size: 20px;
}

.hero-discove-more , .section2_furniture, .section2_furniture2 , .slide-img-2-title,
.section3-column .column-content{
font-size: 16px;
}

.hero-discove-more {
    max-width: 148px !important;
}

.section2_ambitious, .section2_wework, .section3-title, .section4-title, .section5-title {
    font-size: 25px;
}

.section2_about_text , .section2_ourteam_text{
    font-size: 20px;

}


.column1 a, .column2 a, .column3 a, .column4 .address , .column5 a{
font-size: 16px;
}
.column2, .column3, .column4, .column5 {
    margin-top: 30px;
}
.navbar-nav  {
    background-color:darkgray;
}

.navbar-brand, .column1 a  {
    font-size: 20px !important;
}

}

/* Extra small devices (portrait phones, less than 576px) */
/* -----------------------------(max-width: 575.98px)------------------------------------------ */
 @media (max-width: 575.98px) { 
     
    .navbar-nav  {
        background-color:darkgray;
    }

    .hero-text {
        max-width: none;
        padding-left: 15px;
        padding-right: 15px;
    }

    .hero-text-title {
        max-width: none;
        font-size: 40px;
        line-height: 60px;
    }

    .container_section2_contents {
        max-width: none;
        max-height: none;
        padding: 0 15px;
    }

    .container_section2_contents .row {
        justify-content: center;
    }

    .section2_bottom_left {
        position: relative;
        bottom: -350px;
    }

    .section2_botom_right {
        position: relative;
        bottom:500px;
    }

    .section2_top_right{
        max-width: none;
        margin-left: 0;
    }

    #right-in-font, #right-behind {
        max-width: none;
    }

    .section2_bottom_left  {
        max-width: none;
    }

    #left-in-font, #left-behind {
        max-width: none;
    }

    .container-section3-contents {
        max-width: none;
        max-height: none;
        padding: 0 15px;
    }

    .column-2,  .column-3 {
        margin-top: 40px;
    }

    .section3-column {
        max-width: none;
        max-height: none;
    }

    .section3-column .column-content {
        max-width: none;
        max-height: none;
    }

    .column-3 .column-title {
        max-width: none;
    }

    .footer_contents {
        max-width: none;
        max-height: none;
        margin: 0 15px;
    } 
    .column1, .column2, .column3,  .column5  {
        width: 100%;
    }

    .column4 {
        width: 100%;
        justify-content: flex-start;
    }

    .column4 .address-icon {
        margin-right: 20px;
    }

    /* .column1, .column2, .column3, .column4, .column5 {
        margin-right: 50px;
    } */

    .section5-contents .swiper-container .swiper-slide{
        width: 100% !important;
        margin-right: 40px !important;
    }
    .section4-contents .swiper-container .swiper-slide{
        width: 100% !important;
        margin-right: 80px !important;
    } 
    .container-section4 .container4 , .container-section5 .container5{
        max-width: none;
        max-width: none;
        padding: 0 15px;
        overflow: hidden;
    }

    .section4-contents .swiper-container .swiper-wrapper {
        margin-left: -255px !important;
    }

    .section5-contents .swiper-container .swiper-wrapper {
        margin-left: -290px !important;
    }

    .container-section4 .container4 .section4-contents,  .container-section5 .container5 .section5-contents {
        overflow: hidden;
    }

    #right-behind {
    margin-left: 25px;
    margin-top: 23px;
    }

    #left-behind {
    margin-top: 20px;
    }

    #left-in-font {
        margin-left: 36px;
    }

 }
/* -----------------------(min-width: 576px) and (max-width: 767.98px)-------------------------------------- */
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  
    .hero-text {
        max-width: none;
        padding-left: 15px;
        padding-right: 15px;
    }

    .hero-text-title {
        max-width: none;
        font-size: 60px;
        line-height: 70px;
    }

    .container_section2_contents {
        max-width: none;
        max-height: none;
        padding: 0 15px;
    }

    .container_section2_contents .row {
        justify-content: center;
    }

    .section2_bottom_left {
        position: relative;
        bottom: -350px;
    }

    .section2_botom_right {
        position: relative;
        bottom:500px;
    }

    .container-section3-contents {
        max-width: none;
        max-height: none;
        padding: 0 15px;
    }

    .column-2,  .column-3 {
        margin-top: 40px;
    }

    .section3-column {
        max-width: none;
        max-height: none;
    }

    .section3-column .column-content {
        max-width: none;
        max-height: none;
    }

    .column-3 .column-title {
        max-width: none;
    }

    .footer_contents {
        max-width: none;
        max-height: none;
        margin: 0 15px;
    } 

    .column1, .column2, .column3, .column4, .column5 {
        margin-right: 50px;
    }

    .navbar-nav  {
        background-color:darkgray;
    }

    .section5-contents .swiper-container .swiper-slide{
        width: 100% !important;
        margin-right: 40px !important;
    }
    .section4-contents .swiper-container .swiper-slide{
        width: 100% !important;
        margin-right: 80px !important;
    } 
    .container-section4 .container4 , .container-section5 .container5{
        max-width: none;
        max-width: none;
        padding: 0 15px;
        overflow: hidden;
    }

    .section4-contents .swiper-container .swiper-wrapper {
        margin-left: -255px !important;
    }

    .section5-contents .swiper-container .swiper-wrapper {
        margin-left: -290px !important;
    }

    .container-section4 .container4 .section4-contents,  .container-section5 .container5 .section5-contents {
        overflow: hidden;
    }

    
}


/* ------------------------------(min-width: 768px) and (max-width: 991.98px)-------------------------------------- */
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .hero-text-title {
        max-width: none;
        padding: 0 15px;
        font-size: 60px;
        line-height: 70px;
    }

    .container_section2_contents {
        max-width: none;
        max-height: none;
        padding: 0 15px;
    }

    .container_section2_contents .row {
        justify-content: center;
    }

    .container-section3-contents {
        max-width: none;
        max-height: none;
        padding: 0 15px;
    }

    .column-3 {
        margin-top: 20px;
    }

    .footer_contents {
        max-width: none;
        max-height: none;
        margin: 0 15px;
    } 

    .column1, .column2, .column3, .column4, .column5 {
        margin-right: 50px;
    }

    .navbar-nav  {
        background-color:darkgray;
    }

    .section5-contents .swiper-container .swiper-slide{
        width: 100% !important;
        margin-right: 40px !important;
    }
    .section4-contents .swiper-container .swiper-slide{
        width: 100% !important;
        margin-right: 80px !important;
    } 
    .container-section4 .container4 , .container-section5 .container5{
        max-width: none;
        max-width: none;
        padding: 0 15px;
        overflow: hidden;
    }

    .section4-contents .swiper-container .swiper-wrapper {
        margin-left: -255px !important;
    }

    .section5-contents .swiper-container .swiper-wrapper {
        margin-left: -260px !important;
    }

    .container-section4 .container4 .section4-contents,  .container-section5 .container5 .section5-contents {
        overflow: hidden;
    }

    .section2_bottom_left {
        position: relative;
        bottom: -350px;
    }

    .section2_botom_right {
        position: relative;
        bottom:500px;
    }

 }


/* ----------------------------(min-width: 992px) and (max-width: 1199.98px)-------------------------------------- */
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .container .navbar {
        width: 100%;
    }

     .container_section2_contents  {
        padding-left: 15px;
        padding-right: 15px;
    } 

    .container_section2_contents .row {
        justify-content: center;
    }

    .section2_bottom_left {
        position: relative;
        top: 350px;
    }

    .section2_botom_right {
        position: relative;
        bottom: 500px;
    }

    .container-section3-contents {
        height: auto;
    }
    
    .section3-column {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .section3-title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-section4 {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
 }

/* ------------------------------------------(min-width: 1200px)------------------------------------------------- */
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }