
.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
    overflow:hidden;
}

main {
    background:#1C1C1C ;

}
.container-header {
    max-width: 100%;
    height: 752px;
}

 .container .navbar {
    width: 1240px ;
    height: 49px;
    margin-top: 24px !important;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    top: 0;
}

.container-header-image {
    position: absolute;
    width: 100%;
    height: 752px;
    object-fit: cover;
    top: 0;
  }

.container-header-image .container-header-image-bg {
    position: absolute;
    width: 100%;
    height: 752px;
    object-fit: cover;
    padding: 0;
    margin: 0;
    z-index: -2;
}

#container-header-image-bg {
    width: 100%;
    height: 752px;
    background: linear-gradient(rgba(129, 83, 83, 0.3),rgba(49, 49, 49, 0.3),rgba(49, 49, 49, 0.3), #1C1C1C);
    z-index: -1;
}

.navbar-brand{
    width: 143px;
    height: 45px;
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF ;
    font-weight: 700;
    font-size: 30px !important;
    line-height: 45px;
} 


.nav-item {
    display: flex;
    height: 49px;
    align-items: center;
    margin-left: 40px;
}

 
.container-header .container {
    position: fixed !important;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    height: 96px !important;
    z-index: 99;
    top:0;
    /* padding-bottom: auto; */
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    color: #FFFFFF;
    padding: 0 !important;
    opacity: none;
}

.nav-item a{
    display: flex;
    width: auto;
    height: 27px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px; 
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    opacity: none;
}
.nav-item .nav-link-contact {
    display: flex;
    width: 106px;
    height: 21px;
    color: #FFFFFF;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    justify-content: center;
}

.navbar-nav .nav-item-contact {
    display: flex;
    width: 154px;
    height: 49px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    justify-content: center;
    align-items: center;
}

a{
    color: #FFFFFF !important;
}

.hero-text {
    max-width: 855px;
    height: 354px;
    padding-top: 199px;
}

.hero-text-title {
    max-width: 885px;
    height: 160px;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'ABeeZee', sans-serif;
    font-size: 68px;
    line-height: 80.38px;
    text-align: center;
    /* overflow: hidden; */
    /* display: -webkit-box; */
}

.subtext-header {
    max-width: 388px;
    height: 84px;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.col-md-12 {
    padding: 0 !important;
}

.hero-discove-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px !important;
    height: 30px !important;
    text-decoration: none !important;
    border-bottom:2px solid #FFFFFF;
    background-color: none !important;
    border-image: none !important;
    color: #FFFFFF !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;
}


.nav-item .nav-link-about {
    width: 60px;
}

.nav-item .nav-link-ourwork {
    width: 96px;
}

.nav-item .nav-link-service {
    width: 82px;
}

.nav-item .nav-link-journal {
    width: 80px;
}


/* ------------------------------------container-section2-------------------------------------- */

.container-section2 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-section2 .container {
    width: 1240px;
    height: 949px;
    
    background-color: aqua;
}

.container_section2_contents {
    max-width: 1240px ;
    padding-top: 70px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.section2_top_left {
    max-width: 579px;
    height: 391px;
    margin-top: 27px;
}


.section2_about {
    display: flex;
    width: 128px;
    height: 36px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    opacity: 0.6;
    justify-content: center;
}

.section2_about_text {
    margin-right: 6px;
}

.section2_ourteam_text {
    margin-left: 6px;
}

.hr-light {
    width: 50px !important;
    background-color: #FFFFFF;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: 0;
    margin-right: 0;
}

.section2_ambitious {
    max-width: 572px  ;
    height: 114px;
    margin-top: 13px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 48px;
    line-height: 56.74px;
    font-family: 'ABeeZee', sans-serif;
    overflow: hidden;
    display: -webkit-box;
}

.section2_furniture {
    max-width: 579px ;
    height: 198px;
    margin-top: 30px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 33px;
    overflow: hidden;
    display: -webkit-box;
}

.section2_top_right {
    width: 638px;
    height: 412px;
    margin-left: 23px;
}

.section2_top_right_img {
    width: 609.97px !important;
    height: 386px !important;
    object-fit: cover !important;
}

.section2_bottom_right_img {
    width: 609.97px !important;
    height: 386px !important;
    margin-top: 26px;
    object-fit: cover !important;
    opacity: 0.3;
    position: relative;
    left:28px;
    bottom: 385px;
}

.section2_bottom_left {
    width: 602px;
    height: 447px;

}

.section2_botom_right {
    display: flex;
    flex-direction: column;
    max-width: 579px;
    height: 326px;
    margin-top: 27px !important;
    justify-content: flex-end !important;
}


.row2 {
    margin-top: 84px !important;
    justify-content:space-between;
}
 

.section2_top_left_img {
    width: 563.44px !important;
    height: 412px !important;
    margin-left: 39px;
    object-fit: cover !important;
    position: relative;
    bottom: 450px;


}

.section2_bottom_left_img {
    width: 563.44px !important;
    height: 412px !important;
    margin-top: 35px;
    object-fit: cover !important;
    opacity: 0.3;
}

.section2_ourteam {
    display: flex;
    max-width: 175px;
    height: 36px;
    margin-left: auto;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    opacity: 0.6;
    justify-content: space-between;
}

.section2_wework {
    max-width: 572px;
    height: 114px;
    margin-top: 14px;
    margin-left: 7px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'ABeeZee', sans-serif;
    font-size: 48px;
    line-height: 56.74px;
    text-align: right;
    overflow: hidden;
    display: -webkit-box;
}

.section2_furniture2 {
    height: 132px;
    margin-top: 30px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-align: right;
    line-height: 33px;
    overflow: hidden;
    display: -webkit-box;
}

 .section2_furniture_i {
     text-decoration: underline;
 }

 
#right_img1{
    width: 609.97px  ;
    height: 386px !important;
    object-fit: cover !important;
    position:absolute;
    z-index: 2;
}
#right_img2{
    width: 609.97px  ;
    height: 386px !important;
    margin-left: 28px;
    margin-top: 26px;
    object-fit: cover !important;
    position:absolute;
    opacity: 0.3;
    z-index:1
}

#left_img1{
    width: 563.44px  ;
    height: 412px  ;
    margin-left: 39px;
    object-fit: cover !important;
    position:absolute;
    z-index: 2;
}

#left_img2{
    width: 563.44px  ;
    height: 412px !important;
    margin-top: 35px;
    object-fit: cover !important;
    position:absolute;
    opacity: 0.3;
    z-index:1
}

.we-work-underline , .interior-underline{
    text-decoration: underline;
}

/* --------------------------------container-section3----------------------------------------- */

.container-section3 {
    display: flex;
    width: 100%;
    padding-top: 103px;
    justify-content: center;
}

.container-section3-contents {
    width: 1240px;
    height: 322px;
}

.container-section3-contents .row {
    width: 1240px;

}

.container-section3-contents .row .col-sm-4 {
    width: 347.28px !important;
}

.section3-title {
    max-width: 414.33px;
    height: 57px;
    color: #FFFFFF;
    line-height: 56.74px;
    font-size: 48px;
    font-weight: 400;
    font-family: 'ABeeZee', sans-serif;
    overflow: hidden;
    display: -webkit-box;
}

.section3-contents {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
}

.section3-column {
    width: 347.28px ;
    height: 215px ;
}

.section3-column .column-title {
    height: 42px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;  
    overflow: hidden;
    display: -webkit-box;
}

.section3-column .column-content {
    height: 99px;
    margin-top: 14px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;  
    overflow: hidden;
    display: -webkit-box;
}


.readMore {
    margin-right: 6px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    font-weight: 400;
    line-height: 30px
}

.column-icon {
    display: flex;
    width: 129.1px;
    height: 30px;
    margin-top: 30px;
}

.readMore-icon {
    width: 16px;
    height: 8px;
    margin-top: auto;
    margin-bottom: auto;
    color: #FFFFFF;
}
/* ------------------------------------footer--------------------------------- */
footer {
    background:#1C1C1C ;
}

.footer-container {
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 75px; 
}


.footer_contents {
    display: flex  ;
    width: 1240px;
    height: 112px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    flex-wrap: wrap;
    border-top: 1px solid #FFFFFF;
    justify-content: space-between;
}

.column1 {
    display: flex;
    width: 155px;
    height: 45px;
}
.column1 a {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-decoration: none;
}

.column4  img{
    width: 18.04px;
    height: 22.96px;
    color: #FFFFFF;
}

.column1  i{
    width: 12px;
    height: 17px;
    color: #FFFFFF;
}

.column2 {
    width: 59px;
    height: 74px;
}

.column2_about {
    height: 27px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    line-height: 27px;

}

.column2_jurnal , .column3_ourwork{
    height: 27px;
    margin-top: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    line-height: 27px;

}

.column3 {
    width: 86px;
    height: 74px;
}

.column3_service   {
    height: 27px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    line-height: 27px;
}


.column1 a , .column2 a, .column3 a, .column4 a  {
    text-decoration: none !important;
}

.column4 {
    display: flex;
    width: 230px;
    height: 81px;
    justify-content: space-between;
}

.column4 .address-icon {
    width: 18.04px !important;
    height: 23.19px !important;
    color: #FFFFFF;
    object-fit: cover;
       
}

.column4 .address {
    width: 192px !important;
    height: 81px !important;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.column5 {
    display: flex;
    width: 171px;
    height: 55px;
    margin-top: 14px; 
    border:1px solid #FFFFFF; 
    justify-content: center;
    align-items: center;
}

.column5 a {
    width: 123px;
    height: 27px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    line-height: 27px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none !important;
}


/* -------------------------menu------------------ */

.active-header {
    background-color: rgba(49, 49, 49, 0.8) !important;
}
.active-main {
    background-color: #1C1C1C !important;
}


/* -----------------------------------------container-section4---------------------------------------- */

:root {
    --swiper-theme-color: black !important;
}

.container-section4 {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 120px;
    overflow: hidden;
}

.container-section4 .container4 {
    width: 1240px ;
    height: 881px;
    padding: 0;
}

.section4-title {
    max-width: 216px;
    height: 57px;
    color: #FFFFFF;
    font-size: 48px;
    line-height: 56.74px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}
.swiper-pagination-bullet {
    background-color: #FFFFFF !important;
}

.section4-title-work {
    text-decoration: underline;
}

.section4-contents {
    max-width: 3000px;
    height: 682px;
    margin-top: 86px;
    overflow: visible;
}

.section4-contents .swiper-container .swiper-wrapper {
    margin-left: -350px;
    transition-duration: 480ms !important;
}


element.style {
    transition-duration: 480ms !important;
    transform: translate3d(0px, 0px, 0px) !important;
}

.section4-contents .swiper-container .swiper-slide{
    position: relative;
    height: 682px !important;
    max-width: 480px;
    margin-right: 80px;
    overflow: visible;
    object-fit: cover;
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slide-img {
    width: 480px  !important;
    height: 682px !important;
    object-fit: cover !important;

}

.slide-img img {
    width: 480px  !important;
    height: 682px !important;
    object-fit: cover !important;
}

.swiper-container {
    overflow: visible !important;
}
.swiper-slide .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 682px;
    width: 480px;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;

    
}

.swiper-slide:hover .content-overlay {
    opacity: 1
}

.content-details {
    position: absolute;
    text-align: center;
    
    max-width: 100%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.swiper-slide:hover .content-details {
    top: 41.4%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    max-width: 100%;
    width: 356px;
    padding: 0;
    margin: 0px;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 72px;
    font-size: 48px;
}


.fadeIn-bottom {
    top: 80%
}

#dotsSlides {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 140px !important;
    height: 24px !important;
    margin-top: 26px !important;
    margin-left: 20px !important;
    justify-content: space-between;
    align-items: center;
}

.container4.swiper-pagination {
    display: flex;
    width: 140px !important;
    height: 24px !important;
    justify-content: space-between;
    align-items: center;
}

.swiper-pagination-bullet {
    margin-right: 20px;
}

.swiper-pagination-bullet-active {
    width: 24px !important;
    height: 24px !important;
    border:  1px solid #FFFFFF;
    background-color: black !important;

}

#totalSlides {
    width: 48px;
    height: 36px !important;
    position: absolute;
    z-index: 2;
    margin-top: 20px !important;
    text-align: center;
    right: 50px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}


/* -----------------------------------------container-section5---------------------------------------- */
.container-section5 {
    display: flex;
    width: 100%;
    padding-top: 116px;
    justify-content: center;
    overflow: hidden;
}

.container-section5 .container5 {
    width: 1240px;
    height: 636px;
}

.container-section5 .container5 .section5-contents {
    max-width: 3000px;
    height: 636px;
    margin-top: 86px;
    overflow: visible;
}

#dotsSlides2 {
    width: 140px;
    height: 24px;
    margin-left: 20px;
    position: relative;
    top: -173px;
    justify-content: space-between !important;
}

#totalSlides2 {
    display: flex; 
    position: relative; 
    width: 48px;
    height: 36px !important;
    align-items: center;
    bottom:203px;
    margin-left: auto;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

#totalSlides2 .swiper-pagination-total {
justify-content: center !important;
text-align: center !important;
padding-left: auto;
}

.section5-title {
    max-width: 280px;
    height: 57px;
    color: #FFFFFF;
    font-size: 48px;
    line-height: 56.74px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
}

 .container5 .swiper-pagination {
     display: flex;
     justify-content: space-between;
     align-items: center;
    text-align: left !important;
}

.container5 .swiper-pagination.swiper-pagination-bullet {
margin-right: 20px !important;
}
.section4-title-services {
    text-decoration: underline;

}

.slide-img-2 {
    width: 431px  !important;
    height: 325px !important;
    object-fit: cover !important;

}

.slide-img-2 img {
    width: 431px  ;
    height: 325px !important;
    object-fit: cover !important;
}

.slide-img-2-title {
    max-width: 229px;
    height: 36px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    opacity: 0.6;
    overflow: hidden;
    display: -webkit-box;
}

.slide-img-2-content {
    height: 42px;
    margin-top: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    font-style: normal;
    color: #FFFFFF;
    overflow: hidden;
    display: -webkit-box;
}

.section5-contents .swiper-container .swiper-slide{
    position: relative;
    height: 325px !important;
    max-width: 431px;
    margin-right: 39px;
    overflow: visible;
    object-fit: cover;
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.section5-contents .swiper-container .swiper-wrapper {
    margin-left: -338px !important;
    transition-duration: 431ms !important;
}
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
